n8n-workflow.json
{
    "name": "Mimic AI Image Generator",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mimic-ai-generate",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "mimic-ai-generate"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.zenmux.ai/v1/images/generations",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"model\": \"google/gemini-3-pro-image-preview\",\n  \"prompt\": `A ${$json.theme.prompt_style} of a ${$json.theme.keywords[Math.floor(Math.random() * $json.theme.keywords.length)]}, colors: ${$json.theme.palette.slice(0, 3).join(', ')}`,\n  \"n\": 1,\n  \"size\": \"256x256\",\n  \"response_format\": \"b64_json\"\n}) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "generate-image",
            "name": "Generate AI Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                300
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "zenmux-api",
                    "name": "Zenmux API"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Webhook').item.json.callback_url }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"task_id\": $('Webhook').item.json.task_id,\n  \"status\": \"completed\",\n  \"image_data\": 'data:image/png;base64,' + $json.data[0].b64_json,\n  \"name\": $('Webhook').item.json.theme.keywords[Math.floor(Math.random() * $('Webhook').item.json.theme.keywords.length)]\n}) }}",
                "options": {}
            },
            "id": "callback-success",
            "name": "Callback Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Webhook').item.json.callback_url }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"task_id\": $('Webhook').item.json.task_id,\n  \"status\": \"failed\",\n  \"error_message\": $json.error?.message || 'Unknown error'\n}) }}",
                "options": {}
            },
            "id": "callback-error",
            "name": "Callback Error",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ \"received\": true, \"task_id\": $('Webhook').item.json.task_id }) }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Generate AI Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate AI Image": {
            "main": [
                [
                    {
                        "node": "Callback Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Callback Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Callback Success": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Callback Error": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "pinData": {}
}